@import url("reset.css");

html,
body {
	width: 100%;
	height: 100%;
	font: 13px Tahoma, Arial, Helvetica, Geneva, sans-serif;
	background-color: #f5f5f5;
}

p{margin-bottom: 15px;}

h1 {
	font-size: 30px;
	margin-bottom: 10px;
	font-weight: normal;
	text-shadow: 0px 1px 0px #fff;	
}

h2 {
	clear: both;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: normal;
}

h3 {
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: normal;
}

a { color: #0095eb; }

a:hover { color: #e84d07; }

e[type="button"] {
	cursor:hand;
	cursor:pointer;
}

#menu{
	/*margin-left: -10px;*/
	/*float: left;*/
	margin-top: 7px;
	/*max-width: 700px;*/
	width: 940px;
	margin: 0 auto;
}

#menu li{
	height: 30px;
	display: block;
	float: left;
	list-style: none;
}
#menu li a{
	margin-right: 5px;
	font-size: 12px;
	display: block;
	float: left;
	padding: 6px 11px 6px 11px;
	color: #606060;
}
#menu li.selected a, #menu li:hover a{
	border: 1px solid #d5d5d5;
	background-color: #ffffff;
	padding: 5px 10px 6px 10px;
	border-radius: 20px;
	text-decoration: none;
}

#middle {
	width: 940px;
	min-height: 300px;
	padding: 30px;
	background-color: #f7f7f7;
	display: block;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	overflow:hidden;
	margin: 0 auto;
}

#middle h1 {
	font-size: 27px;
	font-weight: normal;
	font-style: normal;
	color: #000;
	display: block;
	/*float: left;*/
	margin-right: 15px;
}

#middle h2 {
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	color: #000;
	text-shadow: 0px 1px 0px #fff;
	margin-bottom: 10px;
}



#main {
	margin:0px auto;
	width: 940px;
}
/*#content {
	float: right;
	width: 680px;
	margin-bottom: 20px;
}*/


#user_informer{
	background-color: #fff;
	padding: 5px 13px 6px 13px;
	border-radius: 15px;
	float: right;
	margin-top: 6px;
	margin-left: 10px;
	color: #505050;
}

#cart_informer{
	background-color: #fff;
	padding: 5px 13px 6px 13px;
	border-radius: 15px;
	float: right;
	margin-top: 6px;
	margin-left: 10px;
	color: #505050;
}


.product .image {
	text-align: center;
	width: 300px;
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	float: left;
	padding: 5px;
	margin-right: 20px;
}
.product .image img{
	max-width: 300px;
}
.product .description{
	float: left;
	width: 330px;
}
.product .price { 
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	white-space: nowrap;
}



.tiny_products {
	list-style: none;
	display: block;
}
.tiny_products .product{
	width: 210px;
	margin-right: 10px;
	margin-bottom: 30px;
	display: -moz-inline-box; 
	display: inline-block; 
	*zoom: 1; 
	*display: inline;
	word-spacing: normal;
	vertical-align: top;
}
.tiny_products .product .image {
	vertical-align: middle;
	text-align: center;
	width: 200px;
	height: 200px;
	line-height: 200px;
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	padding: 5px;
	margin-bottom: 10px;
}
.tiny_products .product .image img{
	vertical-align: middle;
	max-width: 200px;
}
.tiny_products .product h3 {
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: normal;
}


/* @group Корзина */
#purchases{
	width: 100%;
}
#purchases tr{
	border-top: 1px solid #d5d5d5;
	height: 70px;
}
#purchases th{
	vertical-align: top;
	padding-top: 10px;
	font-size: 18px;
	font-weight: normal;
}
#purchases .image{
	width: 50px;
	text-align: center;
}
#purchases .image a{
	border: 1px solid #e0e0e0;
	background-color: #ffffff;
	margin: 0 7px 7px 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 50px;
	height: 50px;
}

#purchases .name{
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}
#purchases td.name{
	font-size: 14px;
	/*width: 318px;*/
}

#purchases .price{
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
	text-align: right;
}
#purchases td.price{
	font-size: 14px;
}
#purchases .remove{
	padding-left: 15px;
	text-align: right;
}
#purchases .amount{
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
}
#purchases .amount select{
	font-size:12px;
}

#purchases .quantity{
	width: 30px;
	text-align: center;
}


/* @end */
